.menubar {
  height: calc(100vh - 42px);
  background: #333333;
  padding: 0px;
}

.fixed-top .card {
  margin: 0px;
}

.sidebar-left {
	position: fixed;
	margin-top: 42px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	overflow-x: hidden;
	overflow-y: auto;
}

.sidebar-right {
	position: fixed;
	margin-top: 42px;
	bottom: 0;
	right: 0;
	z-index: 1000;
	overflow-x: hidden;
	overflow-y: auto;
}
