@import "settings";
@import "base";

p {
  margin: 0px;
}

.menu-bar-acc {
   // This placeholder selector gets you the core structural styles for the menu
    @extend %menu-bar;
    // Set the orientation and sizing of the menu bar
    @include menu-bar-layout(
        $orientation: vertical, // Can be horizontal or vertical
        $stretch: true // Set to false for a condensed menu
    );
    // Add styles for the menu bar items and text
    @include menu-bar-style(
        $background: $dark-color, // Background color of items
        $autocolor: true // When true, all the above colors will be derived from $background
    );
    // Add support for icons
    @include menu-bar-icons(
        $position: left, // Can be top, right, bottom, or left
        $size: 20px // Can be px, em, or rem
    );

    @include accordion-title(
        $background: $dark-color, // Default background
        $background-hover: $dark-color, // Background on hover
        $background-active: $dark-color, // Background when active
        $color: #000, // Default color
        $color-active: #000, // Color when active
        $padding: 0.1rem
    );
}

.acc-content {
    padding-left: 0rem;
    height: 100%;
    width: 100%;
    background-color: red;
}

.menu-bar-acc:hover {
    //background-color: smartscale($dark-color, 7%);
    @include accordion-title(
        $background: $dark-color, // Default background
        $background-hover: smartscale($dark-color, 7%), // Background on hover
        $background-active: $dark-color, // Background when active
        $color: #000, // Default color
        $color-active: #000, // Color when active
        $padding: 0.1rem
    );
}

.fullheight {
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    background-color: $dark-color;
}

.uiview {
    position: relative;
    height: 100%;
}

.center {
    margin: auto;
}

.right {
    right: 0px;
    float: right;
    margin-top: 6px;
}

.bottom {
  position: fixed;
  left: 0px;
  bottom: 0px;
  padding: 0px;
}

.height_10 {
  height: 60px;
  width: 50% !important;
  //padding: 0px;
  //margin: 0px;
}

.is-hidden {
  display: none;
}

.highlight_text {
  color: $primary-color;
  font-weight: 500;
}

.complain_card {
  @include grid-block;
  @include grid-size(12);
  background-color: smartscale($dark-color, 5%);
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.complain_remove {
  color: red;
  text-align: center;
  margin: auto;
  font-size: 25pt;
}

.channel-card {
  //background-color: red;
  color: $primary-color;
  padding: 5px;
  border-width: 0px;
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
}

.channel-card:hover {
  background-color: smartscale($dark-color, 5%)
}

.client-card {
  color: white;
  padding-top: 5px;
  padding-left: 20px;
}

.server-card {
  //@include grid-block;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  padding: 1rem;
  //margin-right: 2rem;
}

.serverbutton-prime {
  @extend %button;
  @include button-style(
    $background: $primary-color, // Background color
    $background-hover: auto, // Background color on hover. Use "auto" to generate automatically
    $color: #000, // Text color
    $style: hollow // Can be solid or hollow
  );
  margin: 0px;
  width: 100%;
  margin-top: 10px;
}

.serverbutton-success {
  @extend %button;
  @include button-style(
    $background: $success-color, // Background color
    $background-hover: auto, // Background color on hover. Use "auto" to generate automatically
    $color: #000, // Text color
    $style: hollow // Can be solid or hollow
  );
  margin: 0px;
  width: 100%;
  margin-top: 10px;
}
.serverbutton-alert {
  @extend %button;
  @include button-style(
    $background: $alert-color, // Background color
    $background-hover: auto, // Background color on hover. Use "auto" to generate automatically
    $color: #000, // Text color
    $style: hollow // Can be solid or hollow
  );
  margin: 0px;
  width: 100%;
  margin-top: 10px;
}

.chat-tab-wrapper {
  //padding: 1rem;
}
/*-webkit-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);
box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.75);*/

.chat-wrapper {
  padding: 1rem;
  background-color: $dark-color;
  height: 100vh;
}

.chat-reader {
  padding: 1rem;
  width: 100%;
  height: 93vh;
  //margin: auto;
  background-color: smartscale($secondary-color, 5%);
  overflow: hidden;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.chat-sender {
  padding: 0px;
  padding-top: 10px;
  //width: 80%;
  //margin: auto;
}

/*.align-bottom {
  bottom: 1rem;
  position: absolute
}*/
