<div ba-modal="" id="advancedModal" class="collapse">
  <div class="grid-block vertical">
    <div class="grid-content padding" style="padding-top: 1rem;">
      <h3 id="message_recipant"></h3>
      <form>
        <input id="message_mode" type="text" placeholder="mode" style="display: none" />
        <input id="message_target" type="text" style="display: none" />
        <input id="message_content" type="text" placeholder="Your Message" />
        <a ba-close="" class="button">OK</a>
        <a ba-close="" class="button">Cancel</a>
      </form>
    </div>
  </div>
</div>
