<div class="card">
    <div class="card-header">
      Server View
    </div>
    <div class="card-block" style="margin: 1rem">
      <div *ngFor="let channel of channels">
        <div [ngClass]="!regtest(channel.channel_name) ? 'channel': 'spacer'">
          {{regstrip(channel.channel_name)}}
          <div *ngFor="let client of clients">
            <span *ngIf="client.cid == channel.cid" class="client"> {{client.client_nickname}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

