<div class="grid-block">
    <div class="grid-content">
        <div class="grid-container medium-3">
            <h1>YaTWi Login</h1>

            <div id="login_fail" class="card alert is-hidden">
              <div class="card-section">
                <h4>Login failed</h4>
                <p>
                  Your creditentals are probably wrong.<br /> Please Enter them again ( capslock? ).<br />If the problem persists please contact an Admin.
                </p>
              </div>
            </div>

            <div id="connect_fail" class="card alert is-hidden">
              <div class="card-section">
                <h4>Connection failed</h4>
                <p>
                  The Teamspeak Server is curently down.<br /> Please try again in a few minutes.<br /> Should this problem persist please contact an Admin.
                </p>
              </div>
            </div>

            <form NAME="loginform" ACTION="" METHOD="POST">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <label style="font-size: 10pt;">
                <INPUT id="login_submit" TYPE="button" NAME="login_submit" Value="Login" onClick="login(this.form)" class="button" />
                <div class="small switch right">
                    <input type="checkbox" id="switch-example" name="session_timeout">
                    <label for="switch-example"></label>
                </div>
                </label>
            </form>
        </div>
    </div>
</div>
