<div class="grid-content shrink" style="padding: 0;">
  <div class="menu-group primary">
    <div class="menu-group-left">
      <ul class="primary condense menu-bar">
        <li><a ui-sref="login"><strong>YaTWi</strong></a></li>
      </ul>
    </div>
    <div class="menu-group-right">
      <ul class="primary condense menu-bar">
        <li>
          <a style="margin: 0px;" zf-toggle="serverpanel" class="button">Select Server</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="grid-block">
  <div zf-panel="" id="serverpanel" position="right" style="margin-right: 1rem;">
    <div id="server_' + server2.virtualserver_id + '" class="server-card">
      <div class="grid-block">
        <div class="grid-content small-12">
          <p>
            <span class="highlight_text">Name: </span>' + server2.virtualserver_name + '</br>
            <span class="highlight_text">Port: </span>' + server2.virtualserver_port + '</br>
            <span class="highlight_text">Online: </span>' + server2.virtualserver_clientsonline + '/' + server2.virtualserver_maxclients + '</br>
            <span class="highlight_text">Status: </span>' + server2.virtualserver_status + '
          </p>
        </div>
      </div>
      <div class="grid-block">
        <div class="grid-content expand">
          <a class="serverbutton-prime" onclick="server_stop(' + server2.virtualserver_id + ')">Stop</a>
        </div>
        <div class="grid-content expand">
          <a class="serverbutton-success" onclick="server_select(' + server2.virtualserver_id + ')">Select</a>
        </div>
        <div class="grid-content expand">
          <a class="serverbutton-alert" onclick="server_delete(' + server2.virtualserver_id + ')">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-content medium-3 fullheight" style="padding: 0px; max-width:400px;">
    <zf-accordion>
      <ul class="dark menu-bar vertical" style="padding-left: 1rem">
        <zf-accordion-item class="menu-bar-acc small-12 grid-content" title="Server">
          <ul class="dark menu-bar vertical" style="padding-left: 0rem;">
            <li>
              <a ui-sref="home">&nbsp;&nbsp;&nbsp; Overview</a>
            </li>
          </ul>
          <ul class="dark menu-bar vertical" style="padding-left: 0rem;">
            <li>
              <a ui-sref="test">&nbsp;&nbsp;&nbsp; Edit</a>
            </li>
          </ul>
          <ul class="dark menu-bar vertical" style="padding-left: 0rem;">
            <li>
              <a ui-sref="login">&nbsp;&nbsp;&nbsp; Logs</a>
            </li>
          </ul>
          <ul class="dark menu-bar vertical" style="padding-left: 0rem;">
            <li>
              <a href="#">&nbsp;&nbsp;&nbsp; Files</a>
            </li>
          </ul>
        </zf-accordion-item>
        <li><a href="#">Channel</a></li>

        <zf-accordion-item class="menu-bar-acc small-12 grid-content" title="Clients">
          <ul class="dark menu-bar vertical" style="padding-left: 0rem;">
            <li>
              <a href="#">&nbsp;&nbsp;&nbsp; Overview</a>
            </li>
          </ul>
          <ul class="dark menu-bar vertical" style="padding-left: 0rem;">
            <li>
              <a href="#">&nbsp;&nbsp;&nbsp; Complains</a>
            </li>
          </ul>
          <ul class="dark menu-bar vertical" style="padding-left: 0rem;">
            <li>
              <a href="#">&nbsp;&nbsp;&nbsp; Bans</a>
            </li>
          </ul>
        </zf-accordion-item>

        <zf-accordion-item class="menu-bar-acc small-12 grid-content" title="Permissions">
          <ul class="dark menu-bar vertical" style="padding-left: 0rem;">
            <li>
              <a href="#">&nbsp;&nbsp;&nbsp; Overview</a>
            </li>
          </ul>
          <ul class="dark menu-bar vertical" style="padding-left: 0rem;">
            <li>
              <a href="#">&nbsp;&nbsp;&nbsp; Servergroups</a>
            </li>
          </ul>
          <ul class="dark menu-bar vertical" style="padding-left: 0rem;">
            <li>
              <a href="#">&nbsp;&nbsp;&nbsp; Channelgroups</a>
            </li>
          </ul>
          <ul class="dark menu-bar vertical" style="padding-left: 0rem;">
            <li>
              <a href="#">&nbsp;&nbsp;&nbsp; Tokens</a>
            </li>
          </ul>
        </zf-accordion-item>

        <zf-accordion-item class="menu-bar-acc small-12 grid-content" title="Backup & Restore">
          <ul class="dark menu-bar vertical" style="padding-left: 0rem;">
            <li>
              <a href="#">&nbsp;&nbsp;&nbsp; Backup Server</a>
            </li>
          </ul>
          <ul class="dark menu-bar vertical" style="padding-left: 0rem;">
            <li>
              <a href="#">&nbsp;&nbsp;&nbsp; Restore Backup</a>
            </li>
          </ul>
          <ul class="dark menu-bar vertical" style="padding-left: 0rem;">
            <li>
              <a href="#">&nbsp;&nbsp;&nbsp; Backup Channels</a>
            </li>
          </ul>
          <ul class="dark menu-bar vertical" style="padding-left: 0rem;">
            <li>
              <a href="#">&nbsp;&nbsp;&nbsp; Restore Channels</a>
            </li>
          </ul>
        </zf-accordion-item>
      </ul>
    </zf-accordion>
    <ul class="dark menu-bar horizontal bottom">
      <li class="grid-content small-6 height_10"><a href="#" onclick="logout()">Logout</a></li>
      <li class="grid-content small-6 height_10"><a zf-open="advancedModal">Settings</a></li>
    </ul>
  </div>

  <div zf-modal="" id="message_modal" class="collapse">
    <div class="grid-block vertical">
      <div class="grid-content padding" style="padding-top: 1rem;">
        <h3 id="message_recipant"></h3>
        <form>
          <input id="message_mode" type="text" placeholder="mode" style="display: none" />
          <input id="message_target" type="text" style="display: none" />
          <input id="message_content" type="text" placeholder="Your Message" />
          <a zf-close="" class="button" onclick="$('#message_modal').hide()">OK</a>
          <a zf-close="" class="button">Cancel</a>
        </form>
      </div>
    </div>
  </div>


  <div ui-view class="grid-content medium-9" style="overflow: auto; margin: 0 auto;">
  </div>
