<div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">General</div>
        <div class="card-block">
            <div class="form-group">
              <label for="name">Servername:</label>
              <input type="text" class="form-control" id="name" [(ngModel)]="data.virtualserver_name" name="name" #name="ngModel">
            </div>
            <div class="form-group">
              <label for="welcomemessage">Welcome Message:</label>
              <textarea type="text" class="form-control" id="welcomemessage" [(ngModel)]="data.virtualserver_welcomemessage" name="welcomemessage" #welcomemessage="ngModel"></textarea>
            </div>
            <div class="form-group">
              <label for="clients">Max Clients:</label>
              <input type="number" class="form-control" id="clients" [(ngModel)]="data.virtualserver_maxclients" name="clients" #clients="ngModel">
            </div>
            <div class="form-group">
              <label for="reserved_slots">Reserved Slots:</label>
              <input type="number" class="form-control" id="reserved_slots" [(ngModel)]="data.virtualserver_reserved_slots" name="reserved_slots" #clients="ngModel">
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="text" class="form-control" id="password" [(ngModel)]="data.virtualserver_password" name="password" #password="ngModel">
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Transfer
        </div>
        <div class="card-block">
          <div class="form-group">
						<div class="form-group">
							<label for="max_upload_total_bandwidth">Upload Bandwidth Limit:</label>
							<div class="input-group">
								<input type="text" class="form-control" id="max_upload_total_bandwidth" [(ngModel)]="data.virtualserver_max_upload_total_bandwidth" name="max_upload_total_bandwidth" #hostbanner_link="ngModel">
								<span class="input-group-addon">Byte/s</span>
							</div>
						</div>
						<div class="form-group">
							<label for="upload_quota">Upload Quota:</label>
							<div class="input-group">
								<input type="text" class="form-control" id="upload_quota" [(ngModel)]="data.virtualserver_upload_quota" name="upload_quota" #hostbanner_link="ngModel">
								<span class="input-group-addon">Byte/s</span>
							</div>
						</div>
						<div class="form-group">
							<label for="max_download_total_bandwidth">Download Bandwidth Limit:</label>
							<div class="input-group">
								<input type="text" class="form-control" id="max_download_total_bandwidth" [(ngModel)]="data.virtualserver_max_download_total_bandwidth" name="max_download_total_bandwidth" #hostbanner_link="ngModel">
								<span class="input-group-addon">Byte/s</span>
							</div>
						</div>
						<div class="form-group">
							<label for="download_quota">Download Quota:</label>
							<div class="input-group">
								<input type="text" class="form-control" id="download_quota" [(ngModel)]="data.virtualserver_download_quota" name="download_quota" #hostbanner_link="ngModel">
								<span class="input-group-addon">Byte/s</span>
							</div>
						</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Hostbanner</div>
        <img class="card-img-top" src="{{data.virtualserver_hostbanner_gfx_url}}" width="100%" alt="Card image cap" />
        <div class="card-block">
            <div class="form-group">
              <label for="hostbanner_link">Link:</label>
              <input type="text" class="form-control" id="hostbanner_link" [(ngModel)]="data.virtualserver_hostbanner_url" name="hostbanner_link" #hostbanner_link="ngModel"> 
            </div>
            <div class="form-group">
              <label for="hostbanner_source">Source:</label>
              <input type="text" class="form-control" id="hostbanner_source" [(ngModel)]="data.virtualserver_hostbanner_gfx_url" name="hostbanner_source" #hostbanner_source="ngModel">
            </div>
            <div class="form-group">
              <label for="hostbanner_interval">Refresh Interval:</label>
              <input type="number" class="form-control" id="hostbanner_interval" [(ngModel)]="data.virtualserver_hostbanner_gfx_interval" name="hostbanner_interval" #hostbanner_interval="ngModel">
            </div>
        </div>
      </div>
    </div>
		<div class="col-md-6">
   		<div class="card">
        <div class="card-header">Hostbutton</div>
        <img class="card-img-top" src="{{data.virtualserver_hostbutton_gfx_url}}" width="100%" alt="Card image cap" />
        <div class="card-block">
            <div class="form-group">
              <label for="hostbutton_link">Link:</label>
              <input type="text" class="form-control" id="hostbutton_link" [(ngModel)]="data.virtualserver_hostbutton_url" name="hostbutton_link" #hostbutton_link="ngModel">
            </div>
            <div class="form-group">
              <label for="hostbutton_source">Source:</label>
              <input type="text" class="form-control" id="hostbutton_source" [(ngModel)]="data.virtualserver_hostbutton_gfx_url" name="hostbutton_source" #hostbutton_source="ngModel">
            </div>
            <div class="form-group">
              <label for="hostbutton_tooltip">Tooltip:</label>
              <input type="text" class="form-control" id="hostbutton_tooltip" [(ngModel)]="data.virtualserver_hostbutton_tooltip" name="hostbutton_tooltip" #hostbutton_tooltip="ngModel">
            </div>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col">
    <button class="btn btn-success" (click)="saveData(data)">Save</button>
  </div>
</div>
