/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";

.btn-navbar {
  width: 45px;
  height: 45px;
  border: 0px;
  border-radius: 0px;
  padding: 0px;
  background-color: rgb(255, 153, 51);
}

.btn-navbar:hover {
    background-color: darken(#ff9933, 5%);
}
